{% if reservation_list %}

<table>
  <tr>
    <th>Resource</th>
    <th>Reserved By</th> 
    <th>E-mail</th> 
    <th>Start Time</th>
    <th>End Time</th>
    <th>Duration (Minutes)</th>
    <th>Details</th>
  </tr>

  {% for reservation in reservation_list %}
   <tr>
    <td><a href="{% url 'resource' reservation.resource.id %}">{{ reservation.resource.name }}</a></td>
    <td><a href="{% url 'user' reservation.owner.username %}">{{reservation.owner.username}}</a></td>
    <td>{{reservation.owner.email}}</td>
    <td>{{reservation.start_time}}</td>
    <td>{{reservation.end_time}}</td>
    <td>{{reservation.duration}}</td>
    <td><a href="{% url 'reservation' reservation.id %}">Link</a></td>
    </tr>
  {% endfor %}
  </table>
  <br>

{% else %}
    <p>No reservations.</p>
{% endif %}
