{% extends "base_generic.html" %}
{% block content %}

  <h1>Create new reservation</h1>

You are creating a reservation for the following resource:
{% include "reservation/snippet/resource_highlight.html" %}

<br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- Begin Form -->
{% if reservation_form %}
<form action="{% url 'createReservation' resource.id %}" method="post">
{% csrf_token %}
{{ reservation_form.as_p }}
<input type="submit" value="Create Reservation" />
</form>
<br>
{% include "reservation/snippet/datetime_format.html" %}
{% endif %}
<!-- End Form -->

  
{% endblock %}
