{% extends "base_generic.html" %}
{% block content %}

  <h1>Edit resource:</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- Begin Form -->
{% if resource_form %}
<form action="{% url 'editResource' resource.id %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ resource_form.as_p }}
<input type="submit" value="Save Changes" />
</form>
<br>
{% include "reservation/snippet/datetime_format.html" %}
{% endif %}
<!-- End Form -->
  
{% endblock %}
