<!-- landing page -->
{% extends "base_generic.html" %}
{% block content %}

Welcome to OpenResource!
<!-- reservations made for resources by that user, sorted by reservation time -->

<!-- resources that the user owns, each linked to its URL -->
{% if user_resource_list %}
  <h1>My Resources</h1>
  <ul>
  {% for resource in user_resource_list %}
    <li><a href="{% url 'resource' resource.id %}">{{ resource.name }}</a></li>
  {% endfor %}
  </ul>

{% endif %}

<br>

<!-- all resources in the system, shown in reverse time order based on last made reservation -->
{% if resource_list %}
  <h1>All Resources</h1>
  <ul>
  {% for resource in resource_list %}
    <li><a href="{% url 'resource' resource.id %}">{{ resource.name }}</a></li>
  {% endfor %}
  </ul>

{% else %}
    <p>No resources are available.</p>
{% endif %}

{% endblock %}
