<!-- landing page -->
{% extends "base_generic.html" %}
{% block content %}
<br>
Welcome to OpenResource!
<br><br>
<!-- reservations made for resources by that user, sorted by reservation time -->
{% if user.is_authenticated %}
  {% include "reservation/user_resources_reservations.html" %}
{% endif %}

<br>

<!-- all resources in the system, shown in reverse time order based on last made reservation -->
{% if resource_list %}
  <h2>All Resources</h2>
  <ul>
  {% for resource in resource_list %}
    <li><a href="{% url 'resource' resource.id %}">{{ resource.name }}</a></li>
  {% endfor %}
  </ul>

{% else %}
    <p>No resources are available.</p>
{% endif %}

{% endblock %}
