<!-- landing page -->
{% extends "base_generic.html" %}
{% block content %}

<!-- reservations made for resources by that user, sorted by reservation time -->
{% if user.is_authenticated %}
  <h2>My Reservations</h2>
  {% include "reservation/snippet/reservation_table.html" with reservation_list=user_reservations %}
{% endif %}

<!-- resources that the user owns, each linked to its URL -->
{% if user.is_authenticated %}
  <h2>My Resources</h2>
  <a href="{% url 'createResource' %}" class="action">Create</a>
  {% include "reservation/snippet/resource_table.html" with resource_list=user_resources only %}
{% endif %}

<!-- all resources in the system, shown in reverse time order based on last made reservation -->
<h2>All Resources</h2>
{% include "reservation/snippet/resource_table.html" with resource_list=all_resources only %}

{% endblock %}
