{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<h2>Resource Details:</h2>
{% if resource.owner == user %}
<a href="{% url 'editResource' resource.id %}" class="action">Edit</a>
{% endif %}
{% include "reservation/snippet/resource_highlight.html" %}

<table>
<tr>
<td><img src="{{resource.image.url}}" class="resimage"></img></td>
<td>
<h2>Description:</h2>
{% if resource.description %}
{{resource.description}}
{% else %}
No description provided.
{% endif %}
</td>
</tr>
</table>

<h2>Reservations for this Resource:</h2>
  {% if not resource.expired %}
  <a href="{% url 'createReservation' resource.id %}" class="action">Create</a>
  {% endif %}
  {% include "reservation/snippet/reservation_table.html" %}

<h2>Tags</h2>
  {% include "reservation/snippet/resource_tags.html" %}

<br><br>
<p>This resource has been reserved a total number of <b>{{total_reservations}}</b> times in the past.</p>

{% endblock %}
