{% extends "base_generic.html" %}
{% block content %}
<h2>Resource Details:</h2>
{% if resource.owner == user %}
(<a href="{% url 'editResource' resource.id %}">Edit</a>)
{% endif %}
{% include "reservation/snippet/resource_highlight.html" %}
<br>

<h2>Reservations for this Resource:</h2>
(<a href="{% url 'createReservation' resource.id %}">Create</a>)
  {% include "reservation/snippet/reservation_table.html" %}

<br>
<h2>Tags</h2>
  {% include "reservation/snippet/resource_tags.html" %}

{% endblock %}
