

<h2>Reservations</h2>
  {% if user_reservation_list %}
  <table>
  <tr>
    <th>Resource</th>
    <th>Reserved By</th> 
    <th>E-mail</th> 
    <th>Start Time</th>
    <th>Duration (Minutes)</th>
  </tr>

  {% for reservation in user_reservation_list %}
  <tr>
    <td><a href="{% url 'resource' reservation.resource.id %}">{{ reservation.resource.name }}</a></td>
    <td>{{reservation.resource.owner.username}}</td>
    <td>{{reservation.resource.owner.email}}</td>
    <td>{{reservation.start_time}}</td>
    <td>{{reservation.duration}}</td>
  </tr>
  {% endfor %}
    </table>
  {% else %}
    <p>No reservations available.</p>
  {% endif %}

  <br>
  <!-- resources that the user owns, each linked to its URL -->
  <h2>Resources</h2>

  {% if user_resource_list %}
  <table>
  <tr>
    <th>Resource</th>
    <th>Owner</th> 
    <th>E-mail</th> 
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
 
  {% for resource in user_resource_list %}
   <tr>
    <td>{{resource.name}}</td>
    <td>{{resource.owner.username}}</td>
    <td>{{resource.owner.email}}</td>
    <td>{{resource.start_time}}</td>
    <td>{{resource.end_time}}</td>
  </tr>

  {% endfor %}
  </table>
  {% else %}
    <p>No resources are available.</p>
  {% endif %}
