.sidebar-nav {
    margin-top: 120px;
    padding: 0;
    list-style: none;
    font-size:18px;
}

table { 
    border: 1px solid black;
    width:720px;
}

td, th{
text-align: center;
  padding: 12px;
}

table.green th {
    background-color: #4CAF50;
    color: white;
}

table.red th {
    background-color: #ff3333;
    color: white;
}

table.blue th {
    background-color: #1E90FF;
    color: white;
}

tr:nth-child(odd) {background-color: #E8E8E8}

.icon {
  height:50px;
  width:50px;
}

.resimage {
  width:200px;
  height:200px;
}

.success {
  color: black;
  background: #B8F0B8;
  font-size: 15px;
  text-align: center;
  width: 720px;
  height: 35px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}



