.sidebar-nav {
    margin-top: 120px;
    padding: 0;
    list-style: none;
    font-family: verdana;
}

table { 
    border: 1px solid black;
    border-spacing: 10px;
    border-collapse: separate;
}

td, th{
text-align: center;
}

